:root {
    --grid-maxWidth: 180rem;
    --color-primary: #0077a3;
  }
  
  body {
    color: #333;
    margin: 0;
    background-color: #EFEFEE60;
  }
  
  p {
    color: #444;
  }
  
  header {
    background-color: white;
    border-bottom: 1px solid #eee;
    padding: 2rem 0;
    margin-bottom: 2rem;
  }
  
  .header-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  @media (max-width: 600px) {
    .header-items {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  header h1 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 150%;
    font-weight: 700;
  }
  
  header p {
    font-size: 90%;
  }
  
  section {
    margin: 20px 0;
  }
  
  section h2 {
    margin: 0;
    font-weight: 600;
    color: var(--color-primary);
  }
  
  section p {
    margin-top: 0;
  }
  
  .chart {
    border-radius: 3px;
    border: 1px solid #eee;
    padding: 10px;
  }
  
  .chart h3 {
    margin-top: 0;
  }
  
  canvas {
    width: 100% !important;
    height: auto !important;
  }
  
  .mt-0 {
    margin-top: 0;
  }
  
  .row {
    margin-bottom: 2rem;
  }
  
  .dashboard-card {
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: white;
    padding: 1.25rem;
    margin-bottom: 1rem;
  }
  
  .dashboard-card h2,
  .dashboard-card h3 {
    margin-top: 0;
    font-size: 120%;
    border-bottom: 1px solid #eee;
  }
  
  table {
    border: 1px solid #eee;
  }
  
  table th {
    font-weight: 600;
    padding: 0.5em;
    text-align: left;
    border-bottom: 1px solid #eee;
  }
  
  table thead {
    border-bottom: 0;
  }
  
  table td {
    padding: 0.5em;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    font-weight: 500;
  }
  
  table td:last-child {
    border-right: none;
  }
  
  .colour {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 2px;
    margin-right: 4px;
  }
  
  .chart-keys {
    display: inline-block;
    margin-top: 1.25rem;
    margin-right: 10px;
    border-radius: 3px;
  }
  
  .chart-keys__header {
    font-weight: 600;
    margin-bottom: 0.75rem;
    display: block;
  }
  
  .chart-keys strong {
    font-weight: 500;
  }
  
  .chart-keys__key {
    display: flex;
    align-items: center;
  }
  
  .colour--excellent {
    background-color: #2ecc71;
  }
  
  .colour--good {
    background-color: #f1c40f;
  }
  
  .colour--sufficient {
    background-color: #e67e22;
  }
  
  .colour--poor {
    background-color: #e74c3c;
  }
  
  .colour--excellent-light {
    background-color: #2ecc71;
  }
  
  .colour--good-light {
    background-color: #f1c40f;
  }
  
  .colour--sufficient-light {
    background-color: #e67e22;
  }
  
  .colour--poor-light {
    background-color: #e74c3c;
  }
  
  .text-warning {
    font-size: 90%;
    font-style: italic;
  }
  